/*SMALL STYLES GO HERE*/

body {
    font-size: 16px;
    line-height: 32px;
    font-family: 'Monsterrat','Roboto', sans-serif;
    background-color: #dbf9b8;
}


footer {
    margin: 1.25rem auto;
    padding: .5rem;
    max-width: 100%;
    text-align:center;
}


/*HEADER*/

header {
    background-color: #dbf9b8;
    max-width: 100%;
    font-size: 18px;
    color: #87a878;
    font-family:'Roboto', sans-serif;
}

header {
    text-align: center;
}

header img {
    width: 200px;
    height: 150px;
    display: inline-block;
}

div.title {
    display: inline-block;
}

header h1{
    font-size:40px;
    color: #87a878;
    margin-bottom: 0;
    font-family:'Monsterrat',sans-serif;
}

h1 {
    font-size: 40px;
    color: #87a878;
    margin-bottom: 0;
    font-family:'Monsterrat',sans-serif;
    text-align:center;
}

h2 {
    font-size: 25px;
    margin: 0;
    padding-bottom: 10px;
    color:#b0bc98;
    font-family:'Monsterrat',sans-serif;
}

div.weather {
    display: none;
}

form legend{
    color:#dbf9b8;
    margin:2px;
    padding:8px;
    font-size:16px;
}

form fieldset label{
    color:#b0ba98;
}

form label.top, form div {
    display:block;
    padding-top:1rem;
    color:#cae2bc;
    font-size: 1rem;
}

form label.top, input, form label.top select {
    display:block;
    font-size: 12px;
    border:2px solid #87a878;
    border-radius:10px;
    padding:10px;
    color:#87a878;
    width:100%;
    max-width:20rem;
    background-color:#cae2bc;
}

form input.submit {
    border:4px solid #c7ccb9;
    background-color:#87a878;
    color:#b0bc98;
    border-radius:10px;
    padding: .75rem 1.5rem;
    margin: 0 0 2rem 2%;
    width:96%;
    max-width:12rem;
    margin-top:20px;
}

/* 

Site header	
Open Sans	
40px	
#dbf9b8

Primary Navigation	
Montserrat	
30px	
#b0bc98	

Footer Navigation	
Open Sans	
20px	
#cae2bc	

Heading 1 (h1)	
Montserrat 	
30px	
#87a878	

Heading 2 (h2)	
Montserrat 	
25px	
#b0bc98	

Heading 3(h3)	
Montserrat 	
20px	
#dbf9b8	

Paragraph text (p)	
Open Sans
14px	
#c7ccb9	

     */
/*NAVIGATION*/
button {
    margin: 0.2rem 2%;
    background-color: #87a878;
    border: none;
    font-size: 35px;
    color: #dbf9b8;
    width: 100%;
    margin: auto;

}

nav#frenchfries {
    background-color: #b0bc98;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
}

nav ul {
    margin: 0;
    padding: 0px;
    list-style-type: none;
    text-align: center;
    display:block;
}

nav li {
    margin: 5px;
    padding: 8px;
    font-size: 20px;
    font-family: 'Monsterrat', sans-serif;
    text-decoration: none;
    list-style-type: none;
    color: #87a878;
    font-weight: bolder;
    text-align: center;
    display:inline;
}

nav li:last-child {
    border-bottom: none;
}


nav ul li a {
    display:contents;
    text-decoration: none;
    color: #c7ccb9;
}

.responsive {display:none;}

li.menu{
    display:flex;
    flex-direction: row;
}

nav ul li a{
    padding: 1px;
    text-decoration: none;
    
 }
nav ul li.mainmenu a:link{
	text-decoration:none;
	letter-spacing:.1em;
	
	/* other styles */
}
nav ul li.mainmenu a:visited{
	color: #c7ccb9;
	/* other styles */
}

nav ul li.mainmenu a:hover {
    background-color:#87a878;
    color: #dbf9b8;
}

nav ul li.mainmenu a:active{
    background-color:#87a878;
    color: #dbf9b8;
	border-bottom: 2px solid #dbf9b8;

}

nav ul li.mainmenu1 a:link{
	color: #87a878;
	text-decoration:none;
	letter-spacing:.1em;
	
	/* other styles */
}

nav ul li.mainmenu1 a:visited{
	color: #c7ccb9;
	/* other styles */
}

nav ul li.mainmenu1 a:hover {
    background-color:#1e1e38;
    color: #fbb466;
}

nav ul li.mainmenu1 a:active{
    background-color:#87a878;
    color: #cae2bc;
}

nav ul li.mainmenu2 a:visited{
	color: #c7ccb9;
	/* other styles */
}

nav ul li.mainmenu2 a:hover{
    background-color:#dbf9b8;
    color: #87a878;
}

nav ul li.mainmenu2 a:active{
    background-color:#87a878;
    color: #dbf9b8;
	/* other styles */
}

nav ul li.mainmenu3 a:hover{
    color: #87a878;
}

nav ul li.mainmenu3 a:active{
    background-color:#87a878;
    color: #dbf9b8;
}

nav ul li.mainmenu3 a:visited{
	color: #c7ccb9;
	/* other styles */
}

nav ul li.mainmenu4 a:hover {
    background-color: #cae2bc; ;
    color: #87a878 ;
}

nav ul li.mainmenu4 a:active{
    background-color:#87a878;
    color: #dbf9b8;
}

nav ul li.mainmenu4 a:visited{
    color:#c7ccb9;
}
nav ul li.mainmenu5 a:hover {
    background-color: #cae2bc;
    color: #87a878 ;
}

nav ul li.mainmenu5 a:active{
    background-color:#87a878;
    color: #dbf9b8;
}
nav ul li.mainmenu4 a:visited{
    color:#c7ccb9;
	/* other styles */
}
nav ul li.mainmenu5 a:hover {
    background-color:#87a878;
    color: #dbf9b8;
}

nav ul li.mainmenu5 a:active{
    background-color:#87a878;
    color: #cae2bc;
}

nav ul li.mainmenu5 a:visited{
    color:#dbf9b8;
}

a.reserve{
    text-align:center;
    font-size:40px;
    color:#b0bc98;
}

/*HERO IMAGE*/
main h2 {
    font-size: 40px;
    text-align: center;
    padding: 15px;
    color:#dbf9b8;
    font-family:'Monsterrat',sans-serif;
}

figure {
    margin: 0 0 50px 0;
}

section.banner {
    position: relative;
}

img.hero {
    max-width: 100%;
    margin: auto;
}

section.templesummary {
    position: absolute;
    top: 70px;
    left: 25px;
    background-color: #87a878;
}

.templesummary p {
    color:#cae2bc;
    font-size: 15px;
    margin: 0;
    padding: 0 5px;
    font-family: 'Roboto', sans-serif;
}

.templesummary h3 {
    font-size: 20px;
    margin: 0;
    padding: 0 10px;
    color:#dbf9b8;
    font-family: 'Monsterrat', sans-serif;
}

.templesummary th{
    color:#b0bc98;
}

section div{
    position:absolute;
    top:-20px;
    background-color:#b0ba98;
}


/*ARTICLE*/
article{
    background-color: #87a878;
} 
main article h3 {
    padding: 15px 0 0;
    font-size: 30px;
    margin: 0 0 0 15px;
    color: #dbf9b8;
    text-align: center;
    font-family: 'Monsterrat', sans-serif;
}
main article h4 {
    font-size: 20px;
    margin: 0 0 5px 15px;
    font-family: 'Monsterrat', sans-serif;
}

article p {
    color: #c7ccb9;
    font-size: 20px;
    padding: 10px;
    font-family: 'Roboto', sans-serif;
}

figure img.templo{
    width: 304px; 
    height:228px;
}


img.article{
    width:100%;
}

/*FOOTER*/
footer section {
    text-align: center;
    background-color: #cae2bc;
    padding: 10px;
}

footer  ul {
        display:contents;
        text-decoration: none;
        color: #c7ccb9;
    }
footer ul li.mainmenu {
        display:inline-flex;
        flex-direction: row;
        background-color:#b0ba98;
    }
    
footer  ul li.mainmenu a{
        padding: 1px;
        text-decoration: none;
        text-align:center;
        font-size:20px;
        
     }
footer  ul li.mainmenu a:link{
        text-decoration:none;
        letter-spacing:.1em;
    }
footer  ul li.mainmenu a:visited{
        color: #c7ccb9;
        /* other styles */
    }
    
footer ul li.mainmenu a:hover {
        background-color:#87a878;
        color: #dbf9b8;
    }
    
footer ul li.mainmenu a:active{
        background-color:#87a878;
        color: #dbf9b8;
        border-bottom: 2px solid #dbf9b8;
    
    }
footer p {
    font-size: 20px;
    color: #b0bc98;
    margin: 0;
    padding-bottom: 10px;
    font-family: 'Roboto', sans-serif;
}

footer aside {
    color: #b0bc98;
    margin: 0px;
    padding: 20px;
    text-align: center;
}

footer aside p{
    color:#cae2bc;
}

footer section img {
    max-width: 100%;
    margin: auto;
}

footer section h4 {
    text-align: center;
    font-size: 25px;
    margin: 0 0 15px 0;
    color: #87a878;
    font-family: 'Monsterrat', sans-serif;
}
img.map {
    display: block;
}
aside.footer-bar {
    background-color: #b0bc98;
}
.grid{
    display:grid;
    grid-template-columns: repeat(1,100%); 
}
article.city{
    display:grid;
    grid-template-columns: repeat(1, 1fr);
}
article.city div img{
    width: 400px;
}

