@media only screen and (min-width:1000px) {
    

    body {
        font-size: 16px;
        line-height: 32px;
        font-family: 'Monsterrat', sans-serif;
        background-color:#87a878;
        color:#cae2bc;
       }
  
    h1 {
        font-size: 60px /* x.xrem  rem is a unit of measure) */;
        color: #dbf9b8;
        text-align: center;
       }
    h2 {
       font-size: 15px;
    }
    img.hero{
        max-width:100%;
        margin: 10px 0px;
    }
    
    div.logo{
        display:inline-block;
    }

    div.forecast{
        display:inline-block;
    }
    
    header img {
        width: 160px;
        height:auto;
        }
    
    div.weather{
        display:inline-block;
    }

    img.sun {
        width:160px;
        
    }

    div.weather h3{
        text-align:right;
        font-size:20px;
    }

    section.forecast{
        display:contents;
        font-size: 25px;
        padding: 20px;
        margin-left: 290px;
        text-align: center;
    }
    
    section.forecast h3{
        font-size:30px;
        text-align:center;
        color:#dbf9b8;
    }

    section.forecast th{
        color:#87a878;
    }

    section.forecast td{
        color:#87a878;
    }

    form input.submit {
        border:4px solid #c7ccb9;
        background-color:#dbf9b8;
        color:#b0bc98;
        border-radius:10px;
        padding: .75rem 1.5rem;
        margin: 0 0 2rem 2%;
        width:96%;
        max-width:12rem;
        margin-top:20px;
    }

    nav ul{
        margin:0;
        padding:0px;
        /*! height: 100%; */;
        overflow:auto;
        list-style-type:none; 
    }

    nav li.mainmenu{
        margin:auto;
        padding:8px;
        font-size:20px;
        font-family:'Monsterrat', sans-serif;
        text-decoration:none;
        list-style-type:none; 
        color:#dbf9b8;
        text-align:center;
        display:inline;
     }
    
    a.reserve {
        text-align: center;
        font-size: 40px;
        color: #dbf9b8;
    }
    

     section{
        text-align:left;
        position:relative;
    }
   
    section div{
        position:absolute;
        top:-20px;
        background-color:#dbf9b8;
    }
   
   section.forecast{
       display:inline-block;
   }
   nav ul li a{
    padding: .6rem 1rem;
    border:none;

   }

    main, footer {
      margin: 1.25rem auto;
      padding: .5rem;
      max-width:  100%/* xxxpx (px = pixel is a unit of measure)  */;}
    
    header{
    background-color:#dbf9b8;
    max-width: 100%;
    font-size:40px;
    text-align:center;
      }

   main h2{
       font-size: 80px;
       text-align: center;
       padding:15px;
   }
   
   main h3{
       font-size:80px;
       text-align:center;
       color:#dbf9b8;
   }
   
   main div{
       margin:6px 6px;
       padding:10px;
   }
   
   main div h4{
       font-size:25px;
   }
   
   main article h3{
       font-size:40px;
       margin-left:10px;
       color: #dbf9b8;
   }
   
   main article h4{
       font-size:30px;
       margin-left:10px;
       display:none;
   }
   
   article img{
       float: left;
       padding-left: 1px;
       
    }
   
   p {
       font-family:"Open Sans";
       font-size: 20px;
       color:#c7ccb9;
       clear:left;
   }
  section div{
        position:absolute;
        top:-20px;
        background-color:#b0ba98;
    }
    
   .responsive{display:inline;}

   button{display:none;}

   footer section{
       text-align: center;
       background-color:#c7ccb9;
       padding:10px;
       clear:right;
   }
   
   footer p{
       font-size:30px;
       clear:left;
   }
   
   footer aside{
       color:#dbf9b8;
       margin:0px;
       padding:20px;
   }
   
   footer aside p{
       background-color: #87a878;
       text-align:center;
       padding:40px;
   }

   footer section img{
       max-width: 40%;
       margin: auto;
       float:left;
       position: static;
   }
   
   footer section h4{
       font-size:30px;
       color:#87a878;
       clear:left;
   }
   .grid{
    grid-template-columns:repeat(3, 32%);
} 
 .grid figure:hover{
    box-shadow: 3px 5px #c7ccb9;
 }
figcaption{
    font-size:14px;
    color:#c7ccb9;
}

/*figure img{
    border:2px solid #;
}*/
article.city{
    display:grid;
    grid-template-columns: repeat(3, 1fr);
}
article.city div{
    max-width:100%;
}
}