@media only screen and (min-width:600px){
    .grid{
        grid-template-columns: repeat(2,50%);
    }
    button{
        display:block;
    }

    .responsive{
        display:grid;
        flex-direction:row;
    }

    form legend{
        color:#c7ccb9;
    }


    form label.top, form div {
        display:block;
        padding-top:1rem;
        color:#cae2bc;
        font-size: 1rem;
    }
    
    form label.top, input, form label.top select {
        display:block;
        font-size: 12px;
        border:2px solid #87a878;
        border-radius:10px;
        padding:10px;
        color:#87a878;
        width:100%;
        max-width:20rem;
        background-color:#cae2bc;
    }
    nav ul li a{
        display:inline-flex;
        flex-direction: row;
    }
    figcaption{
        color:#dbf9b8;
    }

    article.city div img{
        max-width:100%
    }

}