/* || general styles */

html {
  font-family: 'helvetica neue', helvetica, arial, sans-serif;
  background-color: #d3f3ee;
}

body {
  width: 800px;
  margin: 0 auto;
}

h1, h2 {
  font-family: 'Faster One', cursive;
}

/* header styles */

h1 {
  font-size: 4rem;
  text-align: center;
  color: #dacc3e;
  border-bottom: 5px solid #dacc3e;
}

header p {
  font-size: 1.3rem;
  font-weight: bold;
  text-align: center;
  color: #7fb7be;
}

/* section styles */

section article {
  width: 33%;
  float: left;
}

section p {
  margin: 5px 0;
  color: #7d1538;
}

section ul {
  margin-top: 0;
  color: #7d1538;
}

h2 {
  font-size: 2.5rem;
  letter-spacing: -5px;
  margin-bottom: 10px;
  color:#bc2c1a;
}